<div id="land">
  <div class="container">
    <div id="head">
      <h1>Github Searcher</h1>
      <hr>
      <img
      src="http://octodex.github.com/images/steroidtocat.png"
      width="200px" height="200px">
    </div>
    <br>
    <div id="bod">
      <h2>STEPS TO USE AND TIPS</h2>
      <hr>
      <ul>
      <li><p>Want to see your favorite developer's work?!!</p></li>
      <li>
        <P>Worry not. Just click on the get started button below!</P></li>
      <li>
        <P>Type in his user name</P></li>
      <li>
        <P>Get his respositories and choose any which you like and get yourself upto date with his respositories</P></li>
      <li>
        <P>Wish to look for another user without leaving the page??! </P></li>
      <li>
        <P>Worry not ! all you need to do is refresh the page and get started again</P></li>
      </ul>
      </div>
      <a routerLink='/details' routerLinkActive='active' ><button id="but0"> Get Started</button></a>
      <!-- <div id="contacts">
        <h2>Find us on:</h2>
        <a href="https://www.facebook.com"><img src="https://image.flaticon.com/icons/svg/185/185981.svg" alt=""
            width="40px" height="40px"> </a>
        <a href="https://twitter.com/charlesmaina_"><img src="https://image.flaticon.com/icons/svg/185/185961.svg"
            alt="" width="40px" height="40px"> </a>
        <a href="https://www.instagram.com/charlesmaina/"><img
            src="https://image.flaticon.com/icons/svg/1409/1409946.svg" alt="" width="40px" height="40px"> </a>
      </div> -->
     

    </div>
  </div>
  <div style=" padding: 1em;" class="footer">
    <p style="text-align: center;">&copy; Zubeyr Abubar</p>
  </div>