@import "~bootstrap/dist/css/bootstrap.css";
.search-form{
    margin-top: 100px;
}
h1{
    text-align: center;
    color: black;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Balo o Chettan', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Varela Round', sans-serif;
    margin-top: 20px;
}
.form-control{
    width: 40%;
}
#but{
    margin-top: -67px;
    padding: 3px;
    margin-left: 300px;
    background: brown;
}
.deets, .list-group-item{
    opacity: 0.8;
}
.stats>span{
    margin: 5px;
}

#link{
    font-size: 30px;
    color: white;
    background-color: rgba(15, 15, 14, 0.932);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: x-large;
    margin-left: 600px;
}
#link:hover{
    text-decoration: none;
    background-color:white;
    color:black;
}
